{
  "presets": [
    "@babel/preset-typescript",
    "@babel/react",
    ["@babel/env", { "targets": { "browsers": ["last 2 versions"] } }]
  ],
  "plugins": [
    "@loadable/babel-plugin",
    "@babel/plugin-proposal-class-properties"
  ]
}
